@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mandaic&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
.register-page {
  background: linear-gradient(to bottom right, #634f5a, #9478c4);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.register-container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 360px;
  width: 100%;
}

.cat-avatar img {
  width: 120px;
  /* margin-bottom: 20px; */
  animation: float 2s ease-in-out infinite;
  margin-bottom: 0px;
  border-radius: 50%;
}
.cat-avatar h2 {
  margin-top: -18px;
  margin-bottom: 0px;
  font-family: Heebo;
  color: rgb(42, 60, 25);
  font-size: 2rem;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.register-form input {
  width: 90%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 2px solid #f3d1d1;
  border-radius: 1rem;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.register-form input:focus {
  border-color: #ff8baf;
  outline: none;
}

.register-form button {
  background-color: #ff8baf;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 1rem;
  width: 100%;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-form button:hover {
  background-color: #e66794;
}

@media (max-width: 500px) {
  .register-container {
    padding: 1.5rem;
    border-radius: 1rem;
    max-width: 90%;
  }

  .cat-avatar img {
    width: 80px;
  }

  .cat-avatar h2 {
    font-size: 1.5rem;
  }

  .register-form input {
    font-size: 0.9rem;
    padding: 0.6rem;
  }

  .register-form button {
    font-size: 1rem;
    padding: 0.6rem;
  }
}

.register-link {
  display: inline-block;
  margin-left: 250px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff8baf;
  color: #ffffff;
  border-radius: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.register-link:hover {
  background-color: #e66794;
}
